<div class="container-fluid">
    <div class="row justify-content-center align-content-center">
        <div class="col-8 barra">
            <img src="assets/brand_logo.png" class="img-fluid" alt="">
        </div>
        <div class="col-4 text-right barra">
            <ul class="navbar-nav mr-auto">
                <li>
                    <a href="#" class="text-light perfil dropdown-toggle" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                            class="fas fa-user-circle user"></i>
                        &nbsp; Michael Javier Robles Ledesma
                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbar-dropdown">
                        <a class="dropdown-item menuperfil cerrar" href=" "><i class="fas fa-sign-out-alt m-1"></i>Salir
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>



<div class="container-fluid">
    <div class="row">
        <div class="barra-lateral col-12 col-sm-auto">
            <app-menu-admin></app-menu-admin>
        </div>
        <div class="col container mt-5">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="card">
                        <div class="card-body  ">
                            <span class="titulo">
                                {{titulo | uppercase}}
                            </span>
                            <form class="mt-3" [formGroup]="eventoForm" (ngSubmit)="agregarEvento()">

                                <div class="mb-3">
                                    <label for="titulo_evento" class="mb-2"><strong>Título:</strong> </label>
                                    <input name="titulo_evento" formControlName="titulo_evento" type="text" placeholder="Título del evento"
                                        class="form-control form-control-lg" aria-describedby="emailHelp">
                                    <div class="text-danger"
                                        *ngIf="eventoForm.get('titulo_evento')?.hasError('required') && eventoForm.get('titulo_evento')?.touched">
                                        <span>El título <strong>es obligatorio</strong></span>
                                    </div>
                                </div>


                                <div class="mb-3">
                                    <label for="ponente" class="mb-2"><strong>Encargado:</strong> </label>
                                    <input name="ponente" formControlName="ponente" type="text" placeholder="Nombre del encargado"
                                        class="form-control form-control-lg" aria-describedby="emailHelp">
                                    <div class="text-danger"
                                        *ngIf="eventoForm.get('ponente')?.hasError('required') && eventoForm.get('ponente')?.touched">
                                        <span>El nombre del encargado <strong>es obligatorio</strong></span>
                                    </div>
                                </div>



                                <div class="mb-3">
                                    <label for="tipo_evento" class="mb-2"><strong>Tipo:</strong> </label>
                                    <select formControlName="tipo_evento" name="tipo_evento"
                                    class="form-control form-control-lg" aria-describedby="emailHelp">
                                       <option value="" >------Seleccione una opción-----</option>  
                                        <option value="Reunión" >Reunión</option>    
                                        <option value="Feriado">Feriado</option>    
                                        <option value="Académico">Académico</option>    
                                        <option value="Consejo">Consejo</option>    
                                        <option value="Webinar">Webinar</option>
                                        <option value="Vacaciones">Vacaciones</option>        
                                      </select>    
                                    <div class="text-danger"
                                        *ngIf="eventoForm.get('tipo_evento')?.hasError('required') && eventoForm.get('tipo_evento')?.touched">
                                        <span>El tipo <strong>es obligatorio</strong></span>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col">
                                        <label for="dia_evento" class="mb-2"><strong>Día:</strong> </label>
                                        <input name="titulo_evento" formControlName="dia_evento" type="text" placeholder="Título del evento"
                                            class="form-control form-control-lg" aria-describedby="emailHelp">
                                        <div class="text-danger"
                                            *ngIf="eventoForm.get('dia_evento')?.hasError('required') && eventoForm.get('dia_evento')?.touched">
                                            <span>El día <strong>es obligatorio</strong></span>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <label for="mes_evento" class="mb-2"><strong>Mes:</strong> </label>
                                        <select formControlName="mes_evento" name="mes_evento"
                                        class="form-control form-control-lg" aria-describedby="emailHelp">
                                           <option value="" >Seleccione</option>  
                                            <option value="ENE" >Enero</option>    
                                            <option value="FEB">Febrero</option>    
                                            <option value="MAR">Marzo</option>    
                                            <option value="ABR">Abril</option>    
                                            <option value="MAY">Mayo</option>
                                            <option value="JUN">Junio</option>   
                                            <option value="JUL" >Julio</option>    
                                            <option value="AGO">Agosto</option>    
                                            <option value="SEP">Septiembre</option>    
                                            <option value="OCT">Octubre</option>    
                                            <option value="NOV">Noviembre</option>
                                            <option value="DIC">Diciembre</option>    
                                          </select>    
                                        <div class="text-danger"
                                            *ngIf="eventoForm.get('tipo_evento')?.hasError('required') && eventoForm.get('tipo_evento')?.touched">
                                            <span>El mes <strong>es obligatorio</strong></span>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <label for="ano_evento" class="mb-2"><strong>Año:</strong> </label>
                                        <input name="titulo_evento" formControlName="ano_evento" type="text" placeholder="Título del evento"
                                            class="form-control form-control-lg" aria-describedby="emailHelp">
                                        <div class="text-danger"
                                            *ngIf="eventoForm.get('ano_evento')?.hasError('required') && eventoForm.get('ano_evento')?.touched">
                                            <span>El año <strong>es obligatorio</strong></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-3 gap-2">
                                    <label class="mb-2"><strong>Horas de uso:</strong> </label>
                                    <div class="col text-center">
                                        <label for="inicio">Inicio</label>
                                        <input formControlName="hora" name="inicio" type="time" placeholder="hora"
                                            class="form-control form-control-lg" aria-describedby="emailHelp">
                                        <div class="text-danger"
                                            *ngIf="eventoForm.get('hora')?.hasError('required') && eventoForm.get('hora')?.touched">
                                            <span>La hora de inicio <strong>es obligatoria</strong></span>
                                        </div>
                                    </div>
                                    <div class="col text-center">
                                        <label for="fin">Fin</label>
                                        <input formControlName="hora2" name="fin" type="time" placeholder="hora"
                                            class="col form-control form-control-lg" aria-describedby="emailHelp">
                                        <div class="text-danger"
                                            *ngIf="eventoForm.get('hora2')?.hasError('required') && eventoForm.get('hora2')?.touched">
                                            <span>La hora final <strong>es obligatoria</strong></span>
                                        </div>
                                    </div>

                                </div>


                                <div class="mb-3">
                                    <label for="descripcion" class="mb-2"><strong>Descripción de la actividad:</strong> </label>
                                    <textarea rows="4" cols="50" formControlName="desc_evento" type="text"
                                        placeholder="desc_evento" class="form-control form-control-lg"
                                        aria-describedby="emailHelp"></textarea>
                                    <div class="text-danger"
                                        *ngIf="eventoForm.get('desc_evento')?.hasError('required') && eventoForm.get('desc_evento')?.touched">
                                        <span>Las descripción <strong>es obligatoria</strong></span>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label for="imagen_evento" class="mb-2"><strong>Imagen:</strong> </label>
                                    <input name="imagen_evento" formControlName="imagen_evento" type="text" placeholder="Imágen"
                                        class="form-control form-control-lg" aria-describedby="emailHelp">
                                    <div class="text-danger"
                                        *ngIf="eventoForm.get('imagen_evento')?.hasError('required') && eventoForm.get('imagen_evento')?.touched">
                                        <span>La imagén es<strong>obligatoria</strong></span>
                                    </div>
                                </div>




                                <div class="mb-3 text-center">
                                    <button type="submit" [disabled]="eventoForm.invalid"
                                        class="btn btn-success btn-lg float-end">
                                        Aceptar
                                    </button>
                                </div>


                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>