<app-cabeza-usuario></app-cabeza-usuario>


<div class="container-fluid">
    <div class="row">

        <div class="barra-lateral col-12 col-sm-auto">
            <app-menu-admin></app-menu-admin>
        </div>
        <main class="main col">

            <div class="container mt-5">
                <div class="row">
                    <div style="padding: 0 0 !important;margin: 0 !important;" class="offset-lg-2">
                        <div class="card">
                            <div class="card-body text-center">
                                <span class="titulo">Listado de Reservas</span>
                                <br>
                                <br>
                                <button class="btn btn-success float-start" routerLink="/crear-horario">
                                    Nuevo <i class="fas fa-plus"></i> 
                                </button>

                                <button class="btn btn-dark float-start ms-4" (click)="generatePDF()">
                                    Generar PDF <i class="fas fa-file-pdf"></i>
                                </button>
                                <br>
                                <br>
                                <div class="table-responsive">
                                    <table *ngIf="listHorarios.length > 0"
                                        class="table table-hover table-bordered table-striped mt-3">
                                        <thead>
                                            <tr class="">
                                                <th scope="col"></th>
                                                <th scope="col">Estado</th>
                                                <th scope="col">Tipo</th>
                                                <th scope="col">Reserva</th>
                                                <th scope="col">Fecha</th>
                                                <th scope="col">Hora</th>
                                                <th scope="col">Cantidad personas</th>
                                                <th scope="col">Cédula</th>
                                                <th scope="col">Nombres</th>
                                                <th scope="col">Correo</th>
                                                <th scope="col">Cargo</th>
                                                <th scope="col">Carrera</th>
                                                <th scope="col">Nivel</th>
                                                <th scope="col">Materia</th>
                                                <th scope="col">Actividades</th>


                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let horario of listHorarios">
                                                <td *ngIf="horario.estado === 'pendiente'"><i (click)="modificar(horario._id,horario.estado)"
                                                        style="color: green; font-size: 1.5em;"
                                                        class="fas fa-check-circle"></i>&nbsp;<i
                                                        (click)="modificar(horario._id,'aprobado')"  style="color: rgb(136,0,21); font-size: 1.5em;"
                                                        class="fas fa-times-circle"></i></td>

                                                <td *ngIf="horario.estado === 'aprobado'"><i (click)="modificar(horario._id,horario.estado)"
                                                        style="color: rgb(136,0,21); font-size: 1.5em;"
                                                        class="fas fa-times-circle"></i>

                                                    &nbsp; <i (click)="eliminarHorario(horario._id)" class="fas fa-trash-alt"
                                                        style="color: rgb(202, 51, 51); font-size: 1.5em;"></i>
                                                </td>

                                                <td *ngIf="horario.estado === 'rechazado'"><i (click)="modificar(horario._id,horario.estado)"
                                                        style="color: green; font-size: 1.5em;"
                                                        class="fas fa-check-circle"></i>

                                                    &nbsp; <i (click)="eliminarHorario(horario._id)" class="fas fa-trash-alt"
                                                        style="color: rgb(202, 51, 51); font-size: 1.5em;"></i>
                                                </td>


                                                <td>
                                                    <p class="{{horario.estado}}">{{horario.estado}}</p>
                                                </td>
                                                <td>{{horario.tipo_reserva}}</td>
                                                <td>{{horario.reserva}}</td>
                                                <td>{{horario.fecha}}</td>
                                                <td>{{horario.hora}}</td>
                                                <td>{{horario.cantidad_estudiantes}}</td>
                                                <td>{{horario.cedula}}</td>
                                                <td>{{horario.nombres}}</td>
                                                <td>{{horario.correo}}</td>

                                                <td>{{horario.cargo}}</td>
                                                <td>{{horario.carrera}}</td>
                                                <td>{{horario.nivel}}</td>
                                                <td>{{horario.materia}}</td>

                                                <td>{{horario.actividades}}</td>


                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <h5 style="text-align: start;margin-bottom: 10px;" *ngIf="listHorarios.length == 0">
                                    No hay horarios para mostrar</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
    </div>
</div>