<app-cabeza-usuario></app-cabeza-usuario>

<div class="container-fluid">
    <div class="row">
        <div class="barra-lateral col-12 col-sm-auto">
            <app-menu-admin></app-menu-admin>
        </div>
        <div class="col container mt-5">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="card">
                        <div class="card-body  ">
                            <span class="titulo">
                                {{titulo | uppercase}}
                            </span>
                            <form class="mt-3" [formGroup]="noticiaForm" (ngSubmit)="agregarNoticia()" >
                                <div class="mb-3">
                                    <label for="titulo_noticia" class="mb-2"><strong>Titulo de la noticia:</strong> </label>
                                    <input name="titulo_noticia" formControlName="titulo_noticia" type="text" placeholder="titulo de la noticia"
                                        class="form-control form-control-lg" aria-describedby="emailHelp">
                                    <div class="text-danger"
                                        *ngIf="noticiaForm.get('titulo_noticia')?.hasError('required') && noticiaForm.get('titulo_noticia')?.touched">
                                        <span>El titulo de la noticia <strong>es obligatorio</strong></span>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label for="foto_noticia" class="mb-2"><strong>Foto de la noticia:</strong> </label>
                                    <input name="foto_noticia" formControlName="foto_noticia" type="text" placeholder="Nombres"
                                        class="form-control form-control-lg" aria-describedby="emailHelp">
                                    <div class="text-danger"
                                        *ngIf="noticiaForm.get('foto_noticia')?.hasError('required') && noticiaForm.get('foto_noticia')?.touched">
                                        <span>La foto de la noticia <strong>es obligatoria</strong></span>
                                    </div>
                                </div>

            
                                <div class="mb-3">
                                    <label for="tipo_usuario" class="mb-2"><strong>Tipo de usuario:</strong> </label>
                                    <select formControlName="tipo_usuario" name="tipo_usuario"
                                    class="form-control form-control-lg" aria-describedby="emailHelp">
                                       <option value="" >------Seleccione una opción-----</option>  
                                        <option value="Registrado" >Registrado</option>    
                                        <option value="Administrador">Administrador</option>    
                                      </select>    
                                    <div class="text-danger"
                                        *ngIf="noticiaForm.get('tipo_usuario')?.hasError('required') && noticiaForm.get('tipo_usuario')?.touched">
                                        <span>El tipo_usuario<strong>es obligatorio</strong></span>
                                    </div>
                                </div>
                        

                                <div class="mb-3">
                                    <label for="desc_noticia" class="mb-2"><strong>Descripción de la noticia:</strong> </label>
                                    <textarea rows="4" cols="50" formControlName="desc_noticia" type="text"
                                        placeholder="desc_noticia" class="form-control form-control-lg"
                                        aria-describedby="emailHelp"></textarea>
                                    <div class="text-danger"
                                        *ngIf="noticiaForm.get('desc_noticia')?.hasError('required') && noticiaForm.get('desc_noticia')?.touched">
                                        <span>La descripción de la noticia <strong>es obligatoria</strong></span>
                                    </div>
                                </div>



                                <div class="mb-3 text-center">
                                    <button type="submit" [disabled]="noticiaForm.invalid"
                                        class="btn btn-success btn-lg float-end">
                                        Aceptar
                                    </button>
                                </div>


                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>