<app-cabeza-usuario></app-cabeza-usuario>

<div class="container-fluid">
  <div class="row">

    <div class="barra-lateral col-12 col-sm-auto">
      <app-menu-dash></app-menu-dash>
    </div>
    <main class="main col">
      <div class="row justify-content-center align-content-center text-center">
        <div class="columna col-lg-6">

          <figure class="text-center">
            <h1 class="h1" style="color: rgb(18, 69, 122);">Ver Horario</h1>
            <p aria-hidden="true">
              <span class="placeholder col-3" style="background-color: rgb(255, 219, 0);"></span>
            </p>
          </figure>

          <div class="form-horario">
            <form [formGroup]="horarioForm" (ngSubmit)="ruta()">
              <figure class="text-center">
              <div class="mb-3">
                <h4><label for="form-select" class="form-label">Seleccionar laboratorio</label></h4>
                <select name="laboratorio" formControlName="horario_tabla" class="form-select" aria-label="Default select example">
                  <option selected>Laboratorios disponible</option>
                  <option value="Networking 1">Networking 1</option>
                  <option value="Networking 2">Networking 2</option>
                  <option value="Networking 3">Networking 3</option>
                  <option value="Interacción humano máquina">Interacción humano máquina</option>
                  <option value="Computación avanzada">Computación avanzada</option>
                </select>
              </div>
              <button class="btn btn-primary" type="submit">Desplegar Horarios</button>
              </figure>
            </form>
          </div>

            

        </div>
      </div>

</main>
</div>
</div>
