<app-cabeza-usuario></app-cabeza-usuario>

<div class="container-fluid">
  <div class="row">

    <div  class="barra-lateral col-12 col-sm-auto">
      
      <app-menu-dash></app-menu-dash>
    </div>
    <main class="main col">
      <div class="galera">
        <div *ngFor="let opcion of opciones" class="tarjeta" [style.backgroundColor]="opcion.color">


              <div class="cuerpo"  routerLink="{{opcion.enlace}}">
                <h3 class="titulo-tarjeta">{{opcion.titulo}}</h3>
           
                <p class="info2">{{opcion.info2}}</p>
              </div>

            <div class="icono">
              <img class="imagen" src="{{opcion.imagen}}" alt="{{opcion.imagen}}">
            </div>
        </div>
      </div>
    </main>
  </div>
</div>