<div class="barra-lateral col-12 col-sm-auto">
    <nav class="menu d-flex d-sm-block justify-content-center flex-wrap">
         <a routerLink = "/dashboard-admin"><i class="fas fa-home"></i><span>Inicio</span></a>  
         <a (click) = "actDatos()" ><i class="fas fa-user"></i><span>Actualizar Datos</span></a>
         <a routerLink="/crudHorarios"><i class="fas fa-list-alt"></i><span>Listado de reservas</span></a>
         <a routerLink="/crudUsuarios"><i class="fas fa-users"></i><span>Usuarios</span></a>
         <a  routerLink="/crudNoticias"><i class="fas fa-newspaper"></i><span>Noticias</span></a>
         <a routerLink="/crudEventos" ><i class="fas fa-clock"></i><span>Eventos</span></a>
         <a routerLink="/crudEquipos"><i class="fas fa-hdd"></i><span>Equipos</span></a>
         <a (click)="authService.logout()"><i class="fas fa-door-open"></i><span>Cerrar Sesión </span></a>
    </nav>
    </div>
    
    
    
    
    