<app-cabeza-usuario></app-cabeza-usuario>




<div class="container-fluid">
    <div class="row">

        <div class="barra-lateral col-12 col-sm-auto">
            <app-menu-admin></app-menu-admin>
        </div>
        <main class="main col">

            <div class="container mt-5">
                <div  class="row">
                    <div style="padding: 0 0 !important;margin: 0 !important;" class="col-lg-12 offset-lg-2">
                        <div class="card">
                            <div class="card-body text-center">
                                <span class="titulo">Listado de Noticias</span>
                                <br>
                                <br>
                                <button class="btn btn-success float-start" routerLink="/crear-noticia">
                                    Nuevo <i class="fas fa-plus"></i>
                                </button>
                                <br>
                                <br>
                                <table *ngIf="listNoticias.length > 0" class="table table-hover table-bordered table-striped mt-3">
                                    <thead>
                                        <tr class="">
                                            <th scope="col">Correo</th>
                                            <th scope="col">Nombres</th>
                                            <th scope="col">Laboratorio</th>
                                            <th scope="col">Cargo</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let noticia of listNoticias">
                                            <td >{{noticia.titulo_noticia}}</td>
                                            <td>{{noticia.desc_noticia}}</td>
                                            <td>{{noticia.foto_noticia}}</td>
                                            <td>{{noticia.tipo_usuario}}</td>
                                            <td><i (click)="ruta(noticia._id)" 
                                                class="fas fa-edit text-primary"></i><i
                                                (click)="eliminarNoticia(noticia._id)"
                                                class="fas fa-trash text-danger"></i></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <h5 style="text-align: start;margin-bottom: 10px;" *ngIf="listNoticias.length == 0">
                                    No hay noticias para mostrar</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
    </div>
</div>