<app-cabeza-usuario></app-cabeza-usuario>



<div class="container-fluid">
    <div class="row">
        <div class="barra-lateral col-12 col-sm-auto">
            <app-menu-dash></app-menu-dash>
        </div>
        <div class="col container mt-5">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="card">
                        <div class="card-body  ">
                            <h3 class="text-center">
                                {{titulo | uppercase}}
                              </h3>
                            <form class="mt-3" [formGroup]="horarioForm" (ngSubmit)="agregarHorario()">
                              
                                <div class="mb-3">
                                    <label for="reserva" class="mb-2"><strong>Equipo:</strong> </label>
                                    <select formControlName="reserva" name="reserva"
                                        class="form-control form-control-lg" aria-describedby="emailHelp">
                                        <option value="">------Seleccione una opción-----</option>
                                        <option *ngFor="let equipos of listEquipos2" value="{{equipos.equipo}}">
                                            {{equipos.equipo}}</option>
                                    </select>
                                    <div class="text-danger"
                                        *ngIf="horarioForm.get('reserva')?.hasError('required') && horarioForm.get('reserva')?.touched">
                                        <span>El equipo<strong>es obligatorio</strong></span>
                                    </div>
                                </div>
                        
                                <div class="mb-3">
                                    <label for="nivel" class="mb-2"><strong>Nivel:</strong> </label>
                                    <select formControlName="nivel" name="nivel"
                                    class="form-control form-control-lg" aria-describedby="emailHelp">
                                       <option value="" >------Seleccione una opción-----</option>  
                                        <option value="1" >Primer</option>    
                                        <option value="2">Segundo</option>    
                                        <option value="3" >Tercero</option>    
                                        <option value="4">Cuarto</option>
                                        <option value="5" >Quinto</option>    
                                        <option value="6">Sexto</option>     
                                        <option value="7" >Séptimo</option>    
                                        <option value="8">Octavo</option>   
                                        <option value="9" >Noveno</option>    
                                        <option value="10">Décimo</option>   
                                      </select>    
                                    <div class="text-danger"
                                        *ngIf="horarioForm.get('nivel')?.hasError('required') && horarioForm.get('nivel')?.touched">
                                        <span>El nivel<strong>es obligatorio</strong></span>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label for="materia" class="mb-2"><strong>Materia:</strong> </label>
                                    <input name="materia" formControlName="materia" type="text" placeholder="Materia"
                                        class="form-control form-control-lg" aria-describedby="emailHelp">
                                    <div class="text-danger"
                                        *ngIf="horarioForm.get('materia')?.hasError('required') && horarioForm.get('materia')?.touched">
                                        <span>La materia<strong>es obligatoria</strong></span>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label for="materia" class="mb-2"><strong>Cantidad de estudiantes:</strong> </label>
                                    <input formControlName="cantidad_estudiantes" type="text"
                                        placeholder="Cantidad de estudiantes" class="form-control form-control-lg"
                                        aria-describedby="emailHelp">
                                    <div class="text-danger"
                                        *ngIf="horarioForm.get('cantidad_estudiantes')?.hasError('required') && horarioForm.get('cantidad_estudiantes')?.touched">
                                        <span>La cantidad de estudiantes <strong>es obligatoria</strong></span>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label for="fecha" class="mb-2"><strong>Fecha:</strong> </label>
                                    <input  name="fecha" formControlName="fecha" type="date" placeholder="fecha"
                                        class="form-control form-control-lg" aria-describedby="emailHelp">
                                    <div class="text-danger"
                                        *ngIf="horarioForm.get('fecha')?.hasError('required') && horarioForm.get('fecha')?.touched">
                                        <span>La fecha <strong>es obligatoria</strong></span>
                                    </div>
                                </div>

                                <div class="row mb-3 gap-2">
                                    <label class="mb-2"><strong>Horas de uso:</strong> </label>
                                    <div class="col text-center">
                                        <label for="inicio">Inicio</label>
                                        <input formControlName="hora" name="inicio" type="time" placeholder="hora"
                                            class="form-control form-control-lg" aria-describedby="emailHelp">
                                        <div class="text-danger"
                                            *ngIf="horarioForm.get('hora')?.hasError('required') && horarioForm.get('hora')?.touched">
                                            <span>La hora de inicio <strong>es obligatoria</strong></span>
                                        </div>
                                    </div>
                                    <div class="col text-center">
                                        <label for="fin">Fin</label>
                                        <input formControlName="hora2" name="fin" type="time" placeholder="hora"
                                            class="col form-control form-control-lg" aria-describedby="emailHelp">
                                        <div class="text-danger"
                                            *ngIf="horarioForm.get('hora2')?.hasError('required') && horarioForm.get('hora2')?.touched">
                                            <span>La hora final <strong>es obligatoria</strong></span>
                                        </div>
                                    </div>

                                </div>

                                <div class="mb-3">
                                    <label for="descripcion" class="mb-2"><strong>Descripción de la actividad:</strong> </label>
                                    <textarea rows="4" cols="50" formControlName="actividades" type="text"
                                        placeholder="actividades" class="form-control form-control-lg"
                                        aria-describedby="emailHelp"></textarea>
                                    <div class="text-danger"
                                        *ngIf="horarioForm.get('actividades')?.hasError('required') && horarioForm.get('actividades')?.touched">
                                        <span>Las actividades <strong>son obligatorias</strong></span>
                                    </div>
                                </div>



                                <div class="mb-3 text-center">
                                    <button type="submit" [disabled]="horarioForm.invalid"
                                        class="btn btn-success btn-lg">
                                        Aceptar
                                    </button>
                                </div>


                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>