<!DOCTYPE html>
<html lang="es">
<app-encabezado></app-encabezado>

<body>
  <header id="barra_navegacion">
    <div class="container_img"><a class="navbar-brand" routerLink="/index"><img class="img-fluid" src="assets/brand_logo.png" alt=""></a> <button
        style="background-color: none; border: none; background: none;color:white; font-size: 25px" onclick=""
        id="btn_sonido"></button></div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm p-3 mb-5 bg-body rounded">
          <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
        
                  <a class="nav-link" routerLink="/home"><i class="fas fa-home"></i> Inicio </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/acerca"><i class="fas fa-user"></i> Acerca </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/laboratorios"><i class="fas fa-flask"></i> Laboratorios </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/docentes"><i class="fas fa-id-card-alt"></i> Docentes </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" routerLink="/eventos"><i class="fas fa-calendar-alt"></i> Eventos </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/contactanos"><i class="fas fa-map-marked-alt"></i> Contáctanos </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/login"><i class="fas fa-sign-in-alt"></i> Iniciar Sesión </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
</header>
  <div class="row container_titulo">
    <div class="row titulo">
      <h1>Eventos</h1>
    </div>
    <div class="lines">
      <div class="line_1"></div>
      <div class="line_2"></div>
      <div class="line_3"></div>
    </div>
  </div>
  <br>

  <div class="row container_proyectos">
    <div id="panel_regresar" *ngIf="isShown" class="col col-11 cols-sm-4 col-md-4 col-lg-3 container_filtros shadow-sm mb-5 bg-body rounded">
      <div class="row">
        <div class="col">
          <div class="input-group mb-3">
            <input type="text" class="form-control" name="filterPost" [(ngModel)]="filterPost" placeholder="Comienza tu búsqueda" aria-label="Example text with button addon" aria-describedby="button-addon1">
            <button class="btn btn-outline-secondary btn_buscar"  (click) = "onSearch()" type="button" id="button-addon2"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="row">
          <small>Tipos de eventos:</small><br>
        </div>
        <div class="row container_etiquetas"> 
          <div class="form-check" >
            <input class="form-check-input" type="radio" value="" id="flexCheckDefaul2t" name="tipo"   [(ngModel)]="_tipos.tipo">
            <label class="form-check-label" for="flexCheckDefaul2t">
              Todos los eventos
            </label>
          </div>        
          <div class="form-check" >
            <input class="form-check-input" type="radio" value="Consejo" id="flexCheckDefaul2t" name="tipo"   [(ngModel)]="_tipos.tipo">
            <label class="form-check-label" for="flexCheckDefaul2t">
              Consejo
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" value="Webinar" id="flexCheckChecked2"  name="tipo"  [(ngModel)]="_tipos.tipo">
            <label class="form-check-label" for="flexCheckChecked2">
              Webinar
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" value="Académico" id="flexCheckDefault8" name="tipo"  [(ngModel)]="_tipos.tipo">
            <label class="form-check-label" for="flexCheckDefault8">
              Académico
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" value="Feriado" id="flexCheckChec5ked" name="tipo"  [(ngModel)]="_tipos.tipo" >
            <label class="form-check-label" for="flexCheckChec5ked">
              Feriado
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" value="Vacaciones" id="flexCheckC8hecked" name="tipo"  [(ngModel)]="_tipos.tipo" >
            <label class="form-check-label" for="flexCheckC8hecked">
              Vacaciones
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" value="Reunión" id="flexCh8eckChecked" name="tipo"  [(ngModel)]="_tipos.tipo">
            <label class="form-check-label" for="flexCh8eckChecked">
              Reunión
            </label>
          </div>
        
        </div>
        <br>
        <div class="row">
          <div class="row">
            <small>Ordenar por:</small><br>
          </div>
          <div class="row ordenar_combo">
            <select class="form-select" [(ngModel)]="_tipos.combo">
              <option value="">Todos los eventos</option>
              
              <option value="Más recientes">Más recientes</option>
              <option value="Más antiguos">Más antiguos</option>
            </select>
          </div>
        </div>
        <br>
        <!-- <div class="row">
          <div class="row">
            <small>Desde:</small><br>
          </div>
          <div class="row ordenar_combo">
            <input type="date" class="form-control" name="fechaPost" [(ngModel)]="fechainicio"  >
          </div>
        </div>
        <br>
        <div class="row">
          <div class="row">
            <small>Hasta:</small><br>
          </div>
          <div class="row ordenar_combo">
            <input type="date" class="form-control" name="fechaPostX" [(ngModel)]="fechafin">
          </div>
        </div> -->
      </div>
    </div>
    <div class="col col-1 btn_regresar">
      <button id="btn_ocultar"  style="display:block" (click)="toggleShow()"><i class="fas fa-chevron-left"></i></button>
    </div>
    <div class="col">
      <div *ngIf="listEventos.length > 0" class="row container__card row-cols-lg-2  row-cols-1 justify-content-center">
       
        <div *ngFor= "let evento of listEventos | filter:filterPost   | tipoEventos:_tipos.tipo | tipo:_tipos.combo:dia:mes | fecha:fechainicio:fechafin "  class="col snip1529">   
          <div  class="snip__container">
           
            <div class="img__snip" style="background-image: url({{evento.imagen_evento}});"></div>
            <div class="date"><span class="day">{{evento.dia_evento }}</span><span class="month">{{evento.mes_evento }}</span></div>
            <div class="hover"><i class="fas fa-eye"></i>
              &nbsp;
              <a href="${tarjetas_publicaciones.enlace[i]}"></a>
            </div>
          
          </div>
       
          <div class="container_titulo_eventos">
            {{evento.titulo_evento }}
            
          </div>
        
        
     </div>
    <!--     <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator> -->
      </div>
      <br>
      <div class="row container_pagination2 justify-content-center row-cols-auto">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#"><i class="fas fa-chevron-left"></i></a></li>
            <li class="page-item active"><a class="page-link active2" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#"><i class="fas fa-chevron-right"></i></a></li>
          </ul>
        </nav>
      </div> 
     
      <br>
      <div class="row">
        <div class="col justify-content-center cont_resultados">
          <p>{{valorTotal()}} resultados</p>
        </div>
      </div>
      
    </div>
    </div>
    <br>
    <br>

    <app-footer></app-footer>

    <script src="/src/app/eventos/eventos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>
      
</body>

</html>